/*Warning color: yellow */

ul.story_report { 
  margin: 10px 0;
  padding: 0;

}

ul.story_report li {
  display: block;

  border-bottom: 1px solid #f6f6f6;
  background-color: #fff;
  margin: 0 0 0 0;
  overflow: hidden;
}

p {
  margin: 0 0 0 0;
}


.defect_box {
  float: left;
  width: 99%;
  height: auto;
  border: 1px solid #f5f5f5;
  margin: 0 0 10px 10px;
  display: inline-block;
}

.ignore_form {
  float: right;
  margin: -20px 0 0 0;
}

.ignore_button {
  background-color:#ffffff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  padding: 23px 24px;
  text-decoration:none;
  height: 100%;
  
}


.defect_severity {
  display: inline;
  text-align: center;
  height: inherit;
}

p.defect_title {
  font-weight: bold;
  font-size: 16px;
}

p.defect_explanation {
  font-style: italic;
}

.severity-block {
  float: left;
  width: 30px;
  height: 65px;
  margin: 0 5px 0 0;
}

.highlight-text {
  background-color: #FFD670;
}

.severity-high {
  background-color: #FF6A70;
}

.severity-medium {
  background-color: #FFD670;
}

.severity-minor {
  background-color: #ddd;
}

.story-title {
  display: inline;
}

.story-title form {
  display: inline;
}

.defect-circle {
  display: inline-block;
  border-radius: 50%;

  width: 60px;
  max-width: 160px;

  border: 2px solid #666;
  color: #666;
  
  text-align: center;
  font: 32px Arial, sans-serif;
  position: relative;
}

.defect-circle .height-fix {
  margin-top: 100%;
}

.defect-circle .defect-circle-content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -16px; /* Note, this must be half the font size */
}

.severe-defects {
  background: #FF6A70;
}

.medium-defects {
  background: #FFD670;
}

.minor-defects {
  background: #ddd;
}

.false-positives {
  background: #F1F1F1;
}

.perfect-stories {
  background: #C5FF74;
}

.defect-text {
  font: 32px Arial, sans-serif;
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
}

.defect-block {
  padding: 10px 0 10px 10px;
  border: 2px solid #666;
  height:80px;
}

.left-defect-block {
  float: left;
  display: inline-block;
  width: 50%;
}

.right-defect-block {
  display: inline-block;
  width: 50%;
}

.upload-us-button {
  margin-top: 12px;
}

.fix-all-btn {
  margin-top: 30px;
  margin-right: 20px;
}