
{% extends "layout.html" %}

{% block content %}
<div class="container">
<center><h1> {{ title }} - {{ stories|length }} </h1></center>
<center>
  <a class='btn btn-default upload-us-button' href={{ url_for('upload_file', project_unique=project.id) }}>{{ 'Reupload stories' if stories|length > 0 else 'Upload stories' }}</a>
</center>
<br>
<div class='defect-blocks'>
  <div class='left-defect-block'>
    <div class='defect-block'>
      <div class='defect-circle total-defects'>
        <div class='height-fix'></div>
        <div class='defect-circle-content'>{{ project_defects|length }}</div>
      </div>
      <a href='?' class='defect-text'>total issues</a>
    </div>
  </div>
  <div class='right-defect-block'>
    <div class='defect-block'>
      <div class='defect-circle minor-defects'>
        <div class='height-fix'></div>
        <div class='defect-circle-content'>{{ minor_defects|length }}</div>
      </div>
      <a href='?severity=minor' class='defect-text'>minor issues</a>
      {% if minor_defects|length > 0 %}
        <form class="ignore_form" action="{{project.id}}/correct_minor_issues" method=post>
          <input type=submit value="fix all" class="btn btn-default fix-all-btn">
        </form>
      {% endif %}
    </div>
  </div>
</div>
  
  {% include "story_report.html" %}
  
</div>
{% endblock %}