
<div class='defect-blocks'>
  <div class='left-defect-block'>
    <div class='defect-block'>
      <div class='defect-circle severe-defects'>
        <div class='height-fix'></div>
        <div class='defect-circle-content'>{{ severe_defects|length }}</div>
      </div>
      <a href='?severity=high' class='defect-text'>defects</a>
    </div>

    <div class='defect-block'>
      <div class='defect-circle medium-defects'>
        <div class='height-fix'></div>
        <div class='defect-circle-content'>{{ medium_defects|length }}</div>
      </div>
      <a href='?severity=medium' class='defect-text'>warnings</a>
    </div>
  </div>

  <div class='right-defect-block'>
    <div class='defect-block'>
      <div class='defect-circle false-positives'>
        <div class='height-fix'></div>
        <div class='defect-circle-content'>{{ false_positives|length }}</div>
      </div>
      <a href='?false_positive=True' class='defect-text'>false positives</a>
    </div>

    <div class='defect-block'>
      <div class='defect-circle perfect-stories'>
        <div class='height-fix'></div>
        <div class='defect-circle-content'>{{ perfect_stories|length }}</div> 
      </div>
      <a href='?perfect_stories=True' class='defect-text'>perfect stories</a>
    </div>
  </div>
</div>

{% if request.args.get('perfect_stories') == 'True' %}
  {% set stories = perfect_stories %}
  <div class="story_report">
    <ul class="story_report">
      {% for story in stories %}
        <li class='perfect-story'>
          <h4 class='story-title'>{{ "#" + loop.index|string }}</h4>
          <h4 class="edit story-title" id="{{story.id|string}}">{{ story.title }}</h4>
        </li>

      {% endfor %}
    </ul>
  </div>

{% else %}
  <div class="story_report">
    <ul class="story_report">
      {% for story in stories %}
        {% set defects = story.defects.filter_by(false_positive=request.args.get('false_positive') or False) %}
        {% if request.args.get('severity') is not none %}
          {% set defects = defects.filter_by(severity=request.args.get('severity')) %}
        {% endif %}
        {% if defects.all()|length > 0 %}
          <li class="story_defects">
            <!-- <h4 class='story-title'>{{ "#" + loop.index|string }}</h4> -->
            <h4 class='story-title'>{{ "#" + story.id|string }}</h4>
            <h4 class="edit story-title" id="{{story.id|string}}">{{ story.title }}</h4>
            {% for defect in defects %}
              <div class="defect_box">
                
                <div class="severity-block {{ "severity-" + defect.severity }}"></div>
                <form class="ignore_form" action="{{project.id}}/defect/{{ defect.id }}" method=post>
                    <input type=boolean name="correct_minor_issue" hidden=True value=True>
                    <br/>
                    <input type=submit value="fix" class="ignore_button">
                </form>
                
                <form class="ignore_form" action="{{project.id}}/defect/{{ defect.id }}" method=post>
                    <input type=boolean name="false_positive" hidden=True value=True>
                    <br/>
                    <input type=submit value="ignore ->" class="ignore_button">
                </form>
                
                <p class="defect_title">
                  {{ _(defect.kind + '_' + defect.subkind) }}
                </p>
                <p class="defect_explanation">
                {{ _(defect.kind + '_' + defect.subkind + '_explanation') }}
                </p>
                <p class="highlight">Suggestion: {{ defect.highlight|safe }}</p>

              </div>
              
              
            {% endfor %}
          </li>

        {% endif %}
      {% endfor %}
    </ul>
  </div>

{% endif %}